.loginGrad
{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #4D3B8C , #263672);
    transition: opacity 9s;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%; 
}

.loginGrad1
{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #12A697 , #4D3B8C);
    transition: opacity 9s;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%; 
}

.loginGrad2
{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #263672 , #12A697);
    transition: opacity 9s;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%; 
}

.loginGrad3
{
      width: 100%;
    height: 100%;
    background: linear-gradient(to right, #D81C54 , #4D3B8C);
    transition: opacity 9s;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%; 
}